$-c-text-primary: #C4C3CC;
$-c-text-primary-dark: #8C8C9A;
$-c-text-primary-darker: #6F6E7C;
$-c-primary: #1e2745;
$-c-primary-light: #212b4e;
$-c-primary-dark: #182039;
$-c-accent: #3e64ff;
$-c-accent-shadow: #3e64ff50;

