$-c-text-primary: #C4C3CC;
$-c-text-primary-dark: #8C8C9A;
$-c-text-primary-darker: #6F6E7C;
$-c-primary: #1e1d2e;
$-c-primary-light: #242336;
$-c-primary-dark: #191829;
$-c-accent: #736BF3;
$-c-accent-shadow: #736BF350;

