@import "color-palette";

main{
    padding-top: 90px;
    background-color: $-c-primary;

    .first{
        width: 100%;
        min-height: calc(100vh - 90px);
        display: flex;
        align-items: center;
        justify-content: center;

        &__heading{
            margin-bottom: 60px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__h1{
                font-size: 40px;
                color: $-c-text-primary;
            }

            &__p{
                max-width: 500px;
                margin-top: 40px;
                color: $-c-text-primary-dark;
            }
        }
    }
}