@import "color-palette";

*{
    box-sizing: border-box;
}

body{
    background-color: $-c-primary-dark;
}

main{
    padding-top: 140px;
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 300px;

    form{
        background-color: $-c-primary-light;
        display: flex;
        flex-direction: column;
        width: 700px;
        padding: 20px;
        margin: 0 auto;

        :is(input, textarea){
            background-color: $-c-primary-light;
            border: none;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            resize: none;
            color: $-c-text-primary;
            font-size: 17px;
        }
        
        textarea{
            height: 200px;
        }

        section{
            border-top: 1px solid $-c-text-primary-darker;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            .input-group{
                width: 100%;

                .big-input{
                    width: 100%;
                    font-size: 13px;
                    margin: 0;
                    color: $-c-text-primary;
                    height: 100px;

                    &::placeholder{
                        color: $-c-text-primary-dark;
                    }
                    background-color: $-c-primary-dark;
                }

                .little-inputs{
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 10px;

                    input{
                        font-size: 13px;
                        color: $-c-text-primary;
                        margin: 0;
                        &::placeholder{
                            color: $-c-text-primary-dark;
                        }
                        background-color: $-c-primary-dark;
                    }
                }
            }
        }

        button{
            margin-top: 10px;
            padding: 10px 0;
            border: none;
            cursor: pointer;
            transition: .1s;
            background-color: $-c-accent;
            color: $-c-text-primary;
            font-weight: 700;
            width: 160px;
            border-radius: 5px;
        }
    }
}